# Dependencies
node_modules/
**/node_modules/

# Build
dist/
**/dist/
build/
**/build/
.vite/
**/ .vite/

# Environment Variables
.env
.env.local
.env.*.local
**/.env
**/.env.local
**/.env.*.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
**/*.log

# IDEs and Editors
.vscode/
.idea/
*.swp
*.swo
.DS_Store

# Local Uploads (Since we are moving to Cloudinary)
backend/uploads/
**/uploads/
